<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993366918465-pi1ssorv1so0gg34nq0f6kq4c4tlrlnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993366918465-pi1ssorv1so0gg34nq0f6kq4c4tlrlnt</string>
	<key>API_KEY</key>
	<string>AIzaSyDBHBz7O2tSoU_1ysjgC_0-_ObBB6UEOus</string>
	<key>GCM_SENDER_ID</key>
	<string>993366918465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iforwe.mentearn</string>
	<key>PROJECT_ID</key>
	<string>mentearn</string>
	<key>STORAGE_BUCKET</key>
	<string>mentearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993366918465:ios:412281d1a75c8cb8cc0dc0</string>
</dict>
</plist>