<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826308309591-hcki61dqtgubt63n23uv5c88i9fol3oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826308309591-hcki61dqtgubt63n23uv5c88i9fol3oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDs-6SmVq14EPSCrN-fJGfFquylnwO7nxo</string>
	<key>GCM_SENDER_ID</key>
	<string>826308309591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iforwe.mentearn</string>
	<key>PROJECT_ID</key>
	<string>mentearn-82b29</string>
	<key>STORAGE_BUCKET</key>
	<string>mentearn-82b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826308309591:ios:1e28464e23eb7dd8336912</string>
</dict>
</plist>